@use "sass:color";
@use "sass:map";
@use "../defaults";

// Use padding to compensate the hairline where needed
// Todo: use 0.5px border once Chrome is ready (Chromium issue 623495)

@mixin hairline($side, $color, $start: null, $end: null) {
	$specs: (
		top: (
			top: 0,
			right: auto,
			bottom: auto,
			left: if(sass($start): $start; else: 0),
			direction: to bottom,
			position: 0 0,
			size: 100% 1px,
			width: calc(100% - #{if(sass($start): $start; else: 0px)} - #{if(sass($end): $end; else: 0px)}),
			height: 1px
		),
		right: (
			top: if(sass($start): $start; else: 0),
			right: 0,
			bottom: auto,
			left: auto,
			direction: to left,
			position: right 0 top 0,
			size: 1px 100%,
			width: 1px,
			height: calc(100% - #{if(sass($start): $start; else: 0px)} - #{if(sass($end): $end; else: 0px)})
		),
		bottom: (
			top: auto,
			right: auto,
			bottom: 0,
			left: if(sass($start): $start; else: 0),
			direction: to top,
			position: left 0 bottom 0,
			size: 100% 1px,
			width: calc(100% - #{if(sass($start): $start; else: 0px)} - #{if(sass($end): $end; else: 0px)}),
			height: 1px
		),
		left: (
			top: if(sass($start): $start; else: 0),
			right: auto,
			bottom: auto,
			left: 0,
			direction: to right,
			position: 0 0,
			size: 1px 100%,
			width: 1px,
			height: calc(100% - #{if(sass($start): $start; else: 0px)} - #{if(sass($end): $end; else: 0px)})
		)
	);
	$top: map.get(map.get($specs, $side), top);
	$right: map.get(map.get($specs, $side), right);
	$bottom: map.get(map.get($specs, $side), bottom);
	$left: map.get(map.get($specs, $side), left);
	$direction: map.get(map.get($specs, $side), direction);
	$position: map.get(map.get($specs, $side), position);
	$size: map.get(map.get($specs, $side), size);
	$width: map.get(map.get($specs, $side), width);
	$height: map.get(map.get($specs, $side), height);
	$pseudo-element: if(sass($side == top or $side == left): "&::before"; else: "&::after");

	position: relative;

	#{$pseudo-element} {
		content: "";
		position: absolute;
		z-index: defaults.$z-index-hairline;
		inset: $top $right $bottom $left;
		width: $width;
		height: $height;
		background-color: color.mix($color, defaults.$body-bg, 50%);
	}

	@media (resolution >= 2dppx) {
		#{$pseudo-element} {
			background: linear-gradient(
				$direction,
				$color 0%,
				$color 51%,
				transparent 51%
			) no-repeat $position;
		}
	}
}

@mixin hairline-disabled($sides...) {
	@each $side in $sides {
		$pseudo-element: if(sass($side == top or $side == left): "&::before"; else: "&::after");

		#{$pseudo-element} {
			content: none;
		}
	}
}
