/* stylelint-disable */
// Variables should follow the `$component-state-property-size` formula
@use "sass:color";

$red: #e52e3d !default;
$blue: #2970ff !default;
$blue-dark: #333c66 !default;
$blue-darkest: #3d4466 !default;
$violet: #5959ff !default;
$asphalt: #7a8799 !default;
$asphalt-light: #dadee3 !default;
$primary: $red !default;
$secondary: $blue !default;
$error: $primary !default;
$warning: #ff794d !default;
$success: #3abd57 !default;
$info: $blue !default;
$focus-color: $secondary !default;
$link-color: $blue !default;

$shade-0: #fff !default;
$shade-1: #f6f6f6 !default;
$shade-2: #ebebeb !default;
$shade-3: #ddd !default;
$shade-4: #ccc !default;
$shade-4: #bbb !default;
$shade-5: #999 !default;
$shade-6: #777 !default;
$shade-7: #222 !default;
$shade-8: #333 !default;
$shade-9: #111 !default;
$shade-10: #000 !default;

$body-bg: $shade-0 !default;
$text-color: $shade-9 !default;
$menu-color: $text-color !default;
$menu-color-disabled: color.adjust($text-color, $lightness: 33%) !default;
$menu-bg: $body-bg !default;
$menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2) !default;
$menu-item-hover-bg: color.mix($shade-10, $shade-1, 2%) !default;
$menu-item-selected-bg: $shade-2 !default;
$menu-item-selected-hover-bg: $shade-3 !default;
$menu-devider: $shade-2 !default;
$menu-no-results-color: $shade-5 !default;

$space-min: 4px !default;
$space-xs: 8px !default;
$space-sm: 12px !default;
$space-md: 16px !default;
$space-lg: 24px !default;
$space-xl: 32px !default;
$space-xxl: 48px !default;
$space-xxxl: 64px !default;
$space-max: 96px !default;
$space-thumb: 42px !default;


$bp-xs: 0px !default;
$bp-sm: 568px !default;
$bp-md: 768px !default;
$bp-lg: 1004px !default;
$bp-xl: 1200px !default;

$grid-breakpoints: (
    xs: $bp-xs,
    sm: $bp-sm,
    md: $bp-md,
    lg: $bp-lg,
    xl: $bp-xl
) !default;

$z-index-menu: 50 !default;
$z-index-hairline: 20 !default;

$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$line-height-base-mobile: 1.5 !default;
$line-height-large: 26px !default;
$line-height-large-touch: 42px !default;

$padding-x-sm: $space-sm !default;
$padding-x-md: $space-md !default;
$default-padding-x: $space-sm !default;
$default-padding-x-touch: $space-md !default;
$border-radius: 4px !default;
$border-radius-sm: 3px !default;
$border-radius-lg: 6px !default;
$border-width: 1px !default;

$menu-bg: $body-bg !default;
$menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.2) !default;
$menu-border-radius: $border-radius-sm !default;
$menu-item-hover-bg: $shade-1 !default;
$menu-item-selected-bg: $shade-2 !default;
$menu-devider: $shade-2 !default;
$menu-no-results-color: $shade-5 !default;

$dropdown-item-padding-x-touch: $space-md;
$dropdown-item-padding-y-touch: 9px;

$input-btn-focus-width: 2px !default;
$input-btn-border-radius: $border-radius-sm !default;
$input-btn-padding-x: $space-sm !default;
$input-btn-padding-y: 7px !default;
$input-btn-padding-x-lg: $space-md !default;
$input-btn-padding-y-lg: 11px !default;
$input-btn-padding-x-sm: $space-sm !default;
$input-btn-padding-y-sm: 3px !default;


$btn-border-width: $border-width !default;
$btn-line-height: $line-height-base !default;
$btn-padding-x: $space-sm !default;
$btn-padding-y: 7px !default;
$btn-padding-x-xl: $space-lg !default;
$btn-padding-y-xl: $space-sm !default;
$btn-padding-x-lg: $space-md !default;
$btn-padding-y-lg: 4px !default;
$btn-padding-x-sm: $space-sm !default;
$btn-padding-y-sm: 3px !default;
$btn-primary-color: $primary !default;
$btn-secondary-color: $secondary !default;
$btn-light-color: $shade-5 !default;
$btn-error-color: $error !default;
$btn-warning-color: $warning !default;
$btn-info-color: $info !default;
$btn-success-color: $success !default;
$btn-icon-bg: transparent !default;
$btn-icon-size: $space-xl !default; // btn-sm size
$btn-border-radius: $border-radius-sm !default;
$btn-box-shadow-color: rgba(0, 0, 0, 0.2) !default;
$btn-transition: 0.15s ease !default;


$form-gutter-width: $space-md !default;
$input-line-height: $line-height-base !default;
$input-padding-x-lg: $space-md !default;
$input-padding-y-lg: 11px !default;
$input-border-radius: $input-btn-border-radius !default;
$input-border-radius-lg: $border-radius-sm !default;
$input-focus-color: $secondary !default;
$input-border-color: $shade-3 !default;
$placeholder-color: $shade-4 !default;
$label-color: $shade-6 !default;
$input-border-width: $border-width !default;
$input-transition: 0.15s ease !default;

$form-bg-touch: $shade-1 !default;
$input-color: $text-color !default;
$input-bg: $body-bg !default;
$input-border-color-touch: $shade-5 !default;
$checkbox-border-touch: $shade-4 !default;
$checkbox-checked-bg-touch: $secondary !default;

$icon-color: $secondary !default;
$icon-spin-size: $space-xl !default;
$icon-spin-size-sm: $space-md !default;
$icon-active-color: $shade-9 !default;
$icon-spin-size-sm: $space-md !default;
$icon-spin-size-md: $space-lg !default;
$icon-spin-size-lg: $space-xl !default;

$outline-color: $secondary !default;
$outline-width: 3px !default;
$outline-offset: 2px !default;

$editable-border-width: $outline-width !default;
$editable-padding: 2px !default;
$editable-border-radius: 3px !default;
$editable-color: $text-color !default;
$editable-bg: $shade-0 !default;
$editable-border-color: $secondary !default;
$editable-hover-percent: 0.04 !default;
$editable-hover-bg: rgba($shade-10, $editable-hover-percent) !default;
$editable-backdrop-bg: $shade-1 !default;
$editable-backdrop-hover-bg: color.adjust($shade-1, $lightness: -($editable-hover-percent * 100%)) !default;

$spinner-color: $secondary !default;

$select-chevron-icon: "icons/chevron-11-down-777.svg" !default;
$select-value-padding-desktop: 0 ($input-btn-padding-x - 4px) + $space-md 0 $input-btn-padding-x !default;

$tabs-height: $line-height-large + $space-min !default;
$tabs-height-touch: $space-thumb !default;
$tabs-padding-x: $space-md !default;
$tabs-compact-padding-x: $default-padding-x !default;
$tabs-border-color: $shade-3 !default;
$tab-active-color: $secondary !default;
$tab-inactive-color: $shade-8 !default;
$tab-pane-heading-border-color: $shade-4 !default;
$tab-pane-heading-bg: shade($shade-1, 4%) !default;
